<a href="https://colab.research.google.com/github/SkorikLL/Python/blob/main/work9/1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [121]:
import seaborn as sns
penguins = sns.load_dataset("penguins")
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

**Задание**:Создать новый столбец в таблице с
пингвинами, который будет отвечать за
показатель длины клюва пингвина
*   high - длинный(от 42)
*   middle - средний(от 35 до 42)
*   low - маленький(до 35)

In [122]:
penguins = penguins.fillna(0)
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,0.0,0.0,0.0,0.0,0
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [123]:
penguins['beak_length'] = penguins['bill_length_mm']
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,beak_length
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,39.1
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,39.5
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,40.3
3,Adelie,Torgersen,0.0,0.0,0.0,0.0,0,0.0
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,36.7

In [124]:
penguins['beak_length'].astype('int')

0      39
1      39
2      40
3       0
4      36
       ..
339     0
340    46
341    50
342    45
343    49
Name: beak_length, Length: 344, dtype: int64

In [125]:
penguins.loc[penguins["beak_length"] < 35, "beak_length"] = "low" 
penguins.loc[(penguins["beak_length"] > 35) & (penguins["beak_length"] < 42), "beak_length"] = "middle" 
penguins.loc[penguins["beak_length"] > 42, "beak_length"] = "high"

TypeError: ignored

In [126]:
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,beak_length
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,39.1
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,39.5
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,40.3
3,Adelie,Torgersen,0.0,0.0,0.0,0.0,0,low
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,36.7